<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <!-- Include jQuery library -->
    <script src="../js/jQuery/jquery-3.1.1.min.js"></script>
    <!-- Include AngularJS library -->
    <script src="../lib/angular/angular.min.js"></script>
    <!-- Include Bootstrap Javascript -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
</head>
<body>
<div class="container wrapper container-fluid" ng-controller="DbController">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="../index.html">Dance App</a>
                </li>
                <li>
                    <a href="../index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a>
                </li>
                <li>
                    <a href="../templates/tables.html"><span class="glyphicon glyphicon-list white" aria-hidden="true"></span>&nbsp;Tables</a>
                </li>
                <li>
                    <a href="../templates/schedule.html"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;Schedule</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-info-sign white" aria-hidden="true"></span>&nbsp;About</a>
                </li>
                <li>
                    <a href="../templates/contact.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;Contact</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="span10">
                <h1 class="text-center"><img id="logo" src="../dance.jpg"/></h1>
                <div>
                    <div class="panel panel-default">
                        <p class="panel-body">
                            Questions explained agreeable preferred strangers too him her son. Set put shyness offices his females him distant. Improve has message besides shy himself cheered however how son. Quick judge other leave ask first chief her. Indeed or remark always silent seemed narrow be. Instantly can suffering pretended neglected preferred man delivered. Perhaps fertile brandon do imagine to cordial cottage.

                            Ever man are put down his very. And marry may table him avoid. Hard sell it were into it upon. He forbade affixed parties of assured to me windows. Happiness him nor she disposing provision. Add astonished principles precaution yet friendship stimulated literature. State thing might stand one his plate. Offending or extremity therefore so difficult he on provision. Tended depart turned not are.

                            New the her nor case that lady paid read. Invitation friendship travelling eat everything the out two. Shy you who scarcely expenses debating hastened resolved. Always polite moment on is warmth spirit it to hearts. Downs those still witty an balls so chief so. Moment an little remain no up lively no. Way brought may off our regular country towards adapted cheered.
                        </p>
                    </div>
                    <div class="navbar navbar-default navbar-bottom">
                        <div class="container">
                            <p class="navbar-text pull-left">2016 Monika Pietyszuk</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/clients.js"></script>
</body>
</html>