<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <!-- Include jQuery library -->
    <script src="../js/jQuery/jquery-3.1.1.min.js"></script>
    <!-- Include AngularJS library -->
    <script src="../lib/angular/angular.min.js"></script>
    <!-- Include Bootstrap Javascript -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
</head>
<body>
<div class="container wrapper container-fluid" ng-controller="DbController">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="../index.html">Dance App</a>
                </li>
                <li>
                    <a href="../index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a>
                </li>
                <li>
                    <a href="../templates/tables.html"><span class="glyphicon glyphicon-list white" aria-hidden="true"></span>&nbsp;Tables</a>
                </li>
                <li>
                    <a href="../templates/schedule.html"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;Schedule</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-info-sign white" aria-hidden="true"></span>&nbsp;About</a>
                </li>
                <li>
                    <a href="../templates/contact.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;Contact</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="span10">
                <h1 class="text-center"><img id="logo" src="../dance.jpg"/></h1>
                <div>
                    <div class="panel panel-default">
                        <p class="panel-body">
                            •	W systemie istnieje możliwość zalogowania oraz rejestracji.
                            •	System, w zależności od zalogowanego na nim użytkownika, daje dostęp do wielu funkcjonalności. Podział jest następujący:
                            a)	Jeśli użytkownik jest administratorem to ma on możliwość:
                            - dodawania i usuwania rekordów z wybranych tabel bazy danych,
                            - aktualizowania danych w istniejących rekordach tabel,
                            - przeglądania zawartości wszystkich tabel.
                            b)	Jeśli użytkownik jest osobą posiadającą konto na stronie to ma on możliwość:
                            - przeglądania zawartości rozkładu zajęc, w którym zawarte są godziny i  dni odbywania się wszystkich zajęć dostępnych w ofercie szkoly tanca,
                            -  danych umieszonych na jego karnecie ( jeśli go posiada ).
                            - zniżkach, które posiada. ( jeśli posiada karnet )
                            c)	Jeśli strone przegląd osoba bez konta to dostępne są na niej jedynie informacje na temat szkoły tańca, instruktorów prowadzących tam zajęcia oraz rozkładu zajęć.

                        </p>
                    </div>
                    <div class="navbar navbar-default navbar-bottom">
                        <div class="container">
                            <p class="navbar-text pull-left">2016 Monika Pietyszuk</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/clients.js"></script>
</body>
</html>