<div id="clients-table" hidden>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="alert alert-default navbar-brand search-box">
                <button class="btn btn-primary" ng-click="showAdvancedClient($event)">Add Client <span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="alert alert-default input-group search-box">
                        <span class="input-group-btn">
                            <input type="text" class="form-control"
                                   placeholder="Search Clients Details Into Database..." ng-model="search_query">
                        </span>
            </div>
        </div>
    </nav>
    <div class="col-md-6 col-md-offset-3">

        <!-- Include form template which is used to insert data into database -->
        <!--<div ng-include src="'templates/clientCreateForm.html'"></div>-->

        <!-- Include form template which is used to edit and update data into database -->
        <!--<div ng-include src="'templates/editForm.html'"></div>-->

    </div>
    <div class="clearfix"></div>
    <!-- Table to show clients detalis -->
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Client Surname</th>
                <th>Phone</th>
                <th>Email Address</th>
                <th></th><th></th>
            </tr>
            <tr ng-repeat="detail in details" >
                <td><span>{{detail.id}}</span></td>
                <td>{{detail.name}}</td>
                <td>{{detail.surname}}</td>
                <td>{{detail.phone}}</td>
                <td>{{detail.email}}</td>
                <td>
                    <button class="btn btn-warning" ng-click="showUpdateClient($event,detail)" title="Edit"><span
                            class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-danger" title="Delete" ng-click="deleteInfo(detail)"><span
                            class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-info" title="Info" ng-click="showClientCards($event,detail)"><span
                            class="glyphicon glyphicon-info-sign"></span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
