<!-- Form used to update new entries of client in database -->
<md-dialog aria-label="Course Details">
    <form ng-cloak class="form-horizontal alert alert-warning" name="courseEditForm" id="courseEditForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 class="text-center">Course Details</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close"></md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="form-group">
                    <label for="cost">Cost:</label>
                   <p>{{teamDetails.stage}}</p>
                </div>
                <div class="form-group">
                    <label for="type">Type:</label>
                    <p>{{courseDetails.type}}</p>
                </div>
                <div class="form-group">
                    <label for="type">Trainer id:</label>
                    <p>{{courseDetails.trainerId}}</p>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>